.app.dark {
	--bg-color: rgba(0, 0, 255, 0.488);
	--inverted-bg-color: rgb(113, 113, 113);

	--primary-color: green;
	--secondary-color: yellowgreen;
	--inverted-primary-color: rgb(0, 26, 128);
	--inverted-secondary-color: rgb(54, 131, 225);
}
