.app.light {
  --bg-color: rgb(113 113 113);
  --inverted-bg-color: rgb(0 0 255 / 48.8%);
  --primary-color: rgb(0 26 128);
  --secondary-color: rgb(54 131 225);
  --inverted-primary-color: green;
  --inverted-secondary-color: yellowgreen;
}
